/*
*{
    border: :1px solid #000;
    margin:10px;
    padding:10px;
}
*/

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
    letter-sapcing: 1px;
    font-family: 'Noto Sans TC', sans-serif, monospace, cursive;
}

p {
    line-height: 20px;
}


/*網站header 設定*/

header {
    font-size: 20px;
    color: #7e2abc;
}


/*網站header 設定*/

header h1+p {
    font-size: 20px;
    color: #3a14d8;
}

header h1 {
    margin: 0px;
    padding: 0px:
}


/*一般基本設定*/

h1 {
    color: blue;
    font-size: 50px;
}

header nav {
    /*    position: fixed;*/
    top: 0;
    /*    background-color: #F4C1C1;*/
}

.featured-image {
    width:100%;
    height: 300px;
    background-image: url("../images/sky-03.jpg");
    background-size: 100%;
}

nav ul li {
    /* float: left;*/
    /*  padding: 5px 5px 5px 5px;*/
    border: 1px solid #333;
    /*loat: left;*/
    background-color: #F4C1C1;
    padding: 0 20px;
    list-style-type: none;
    list-style-position: inside;
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

header nav .subnav {
    position: relative;
}

header nav .dropdown-list {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
}

header nav .subnav:hover .dropdown-list {
    /*    display: none;*/
    background-color: aqua;
    display: block;
}

header nav .dropdown-list li {
    display: block;
    width: unset;
    padding: 0;
    background-color: #666;
}

header nav li a {}

header nav li a:hover {
    background-color: #585858;
    color: #fff;
}

article:nth-of-type(odd) {
    background-color: bisque;
}

article img {
    width: 90%;
}

article {
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
}

.box {
    width: 250px;
    background-color: cornsilk;
    padding: 20px 60px;
    /*    border-left:10px solid #000;*/
    margin: 10px 10px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    float: left;
    /*    height: 50px;*/
}

.articles {
    width: 800px;
    margin: 0 auto;
}


/*
.box:first-child{
    position:relative;
    top:30px;
    left:50px;
    
}
*/


/*

.dropdown {
    width:200px;
    height:300px;
    background-color: aquamarine;
    position:absolute;
    top:50px;
    left:-10px;
}
*/


/*
header nav li:hover{
    background-color: black;
    
}
*/

.Container {
    background-color: azure;
    overflow: auto;
    width: 80%;
    margin: 0 auto;
}

.content {
    width: 100%;
    background-color: aqua;
    float: left;
}

aside {
    width: 33%;
    background-color: beige;
    float: left;
}

header aside {
    width: 20%;
    background-color: beige;
}

footer {
    width: 100%;
    background-color: darkblue;
    overflow: auto;
}

.i1 {
    background-color: #E4E4E4;
    width: 340px;
    height: 675px;
    border-radius: 35px;
    border-color: #D4D4D4;
    border-style: double;
    /*    border-style: double;*/
    border-width: 13px;
    box-shadow: 4px 4px 10px rgba(20%, 20%, 40%, 0.5);
    top: 0px;
    left: 5px;
    position: relative;
    /*
   background-image:url("../images/IMG_3445.JPG");
     opacity:0.4;
*/
}

.sample {
    
/*
    position:fixed;
    top: 0px;
    opacity: 0.4;
*/

}

.i2 {
    background-color: #F5F5F5;
    width: 320px;
    height: 655px;
    border-width: 4px;
    border-radius: 28px;
    border-color:#fdfbfb;
    border-style:solid;
    left: -2px;
    top: -2px;
    position: relative;
}

/*
.i2-1 {
     background-color:#F5F5F5;
    width: 310px;
    height: 648px;
    border-width: 20px;
    border-radius: 28px;
    border-color: #D4D4D4;
    border-style: hidden;
    left: 0px;
    top: 4px;
    position: relative;
    margin: 0 auto;
    
}
*/


.i3 {
    background-color: #010101;
    width: 296px;
    height: 529px;
    border-width: 20px;
    border-color: #D4D4D4;
    border-style: hidden;
    position: relative;
    top: 38px;
    left: 0px;
    margin: 0 auto;
}

.c4 {
    width: 13px;
    height: 13px;
    background-color: #010101;
    border-radius: 13px;
    position: relative;
    top: 25px;
    left: 110px
}

.c5 {
    width: 8px;
    height: 8px;
    background-color: #010101;
    border-radius: 8px;
    position: relative;
    top: -5px;
    left: 159px
}

.c6 {
    width: 45px;
    height: 5px;
    background-color: #010101;
    border-radius: 50px;
    position: relative;
    top: 7px;
    left: 2px;
    margin: 0 auto;
}

.c7 {
    width: 45px;
    height: 42px;
    background-color: #F5F5F5;
    border-radius: 45px;
    border-color: #888;
    position: relative;
    top: 45px;
    margin: 0 auto;
    box-shadow: 1px 3px 0px 0px rgba(20%, 20%, 40%, 0.4), 0px 0px 0px 0px rgba(20%, 20%, 40%, 0.4), 0px -1.5px 0px 0px rgba(20%, 20%, 40%, 0.4);
}

.b1 {
    width: 5px;
    height: 20px;
    background-color: #c9c9c9;
    top: 85px;
    left: 10px;
     border-radius: 6px;
    position: absolute;
    box-shadow: 1px 3px 1px 0px rgba(20%, 20%, 40%, 0.4);
    /*
    left: 20px;
    position:relative;
*/
}
.b2 {
    width: 5px;
    height: 30px;
    background-color: #c9c9c9;
    top: 135px;
    left:10px;
     border-radius: 6px;
    position: absolute;
    box-shadow: 1px 3px 1px 0px rgba(20%, 20%, 40%, 0.4);
    /*
    left: 20px;
    position:relative;
*/
}
.b3 {
    width: 5px;
    height: 30px;
    background-color: #c9c9c9;
    top: 175px;
    left: 10px;
     border-radius: 6px;
    position: absolute;
    box-shadow: 1px 3px 1px 0px rgba(20%, 20%, 40%, 0.4);
    /*
    left: 20px;
    position:relative;
*/
}



.b4 {
     width: 3px;
    height: 4px;
    background-color: #c9c9c9;
    top: 130px;
    left: 353px;
     border-radius: 3px;
    position: absolute;
    
}


.b5 {
     width: 3px;
    height: 4px;
    background-color: #c9c9c9;
    top: 155px;
    left: 353px;
     border-radius: 3px;
    position: absolute;
    
}

nav {
    top:0px;
}
