h1{
    color:blue;
    font-size:1.17em;;
}

p{
        font-size:14px;
        letter-spacing: :1px;
        line-height:2;
        font-family: fantasy;
        font-weight: bold;
        color:skyblue;
            
}

hr{
    border-top:1px #0066cc dashed;
    width:100%
}

div>p{
    
    color:aqua;
    font-size:50px;
}

.btn
{
    color:white;
    background-color:darkblue;
    width:100px;
    height:50px;
    border:50px solid #000;
}

a{
    
    text-decoration:none;
}

a:visited
{
    color:#FFFDE7;
}
a:hover{
    background-color:#FFA726;
    color:#FFFDE7;
    font-size: 20px;
}
a:active{
    background-color:#EF6C00;
    color:#FFFDE7;   
}



.banner-image {
    width:800px;
    
    height: 360px;
    background-image: url("../images/banner.jpg");
   background-size: 100%;
    margin: 0 auto;
}

header nav ul li{
    text-align: center;
     list-style-type: none;
    display: inline-block;
    line-height: 30px;
    margin-right: 25px;
     background-color: #FFB74D;
     padding: 0 5px;
   @import url(https://fonts.googleapis.com/css?family=Candal);
    font-family: 'Sigmar One', cursive;
}



header nav ul{
    
    position: relative;
   
    background-color: #FFB74D;
    width:100%;
    margin: 0 auto:

}
header nav {
    position: relative;
    top:-16px;   
    margin: 0 auto;
}

.article {
     width: 800px;
    margin: 0 auto;
}
