h1{
    color:blue;
    font-size:100px;
}

p{
        font-size:14px;
        letter-spacing: :1px;
        line-height:2;
        font-family: fantasy;
        font-weight: bold;
        color:skyblue;
            
}

hr{
    border-top:1px #0066cc dashed;
    width:100%
}

div>p{
    
    color:aqua;
    font-size:50px;
}

.btn
{
    color:white;
    background-color:darkblue;
    width:100px;
    height:50px;
    border:50px solid #000;
}

a:visited
{
    color:azure;
}
a:hover{
    background-color:aqua;
    color:black;
}
a:active{
    background-color:bisque;
    color:brown;   
}


