/*基本元素設定*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*    border: 1px solid #b3b3b3;*/
}

.row
{
    width: 100%;
}

@media screen and (min-width:992px){
    .col-ld-1{
        width:calc(100%*1/12);
    }
    .col-ld-2{
        width:calc(100%*3/12);
    }
    .col-ld-3{
        width:calc(100%*3/12);
    }
    .col-ld-4{
        width:calc(100%*4/12);
    }
    .col-ld-5{
        width:calc(100%*5/12);
    }
    .col-ld-6{
        width:calc(100%*6/12);
    }
    .col-ld-7{
        width:calc(100%*7/12);
    }
    .col-ld-8{
        width:calc(100%*8/12);
    }
    .col-ld-9{
        width:calc(100%*9/12);
    }
    .col-ld-10{
        width:calc(100%*10/12);
    }
    .col-ld-11{
        width:calc(100%*11/12);
    }
    .col-ld-12{
        width:calc(100%*12/12);
    }
}


@media screen and (min-width:768px) and (max-width:991px){
    .col-md-1{
        width:calc(100%*1/12);
    }
    .col-md-2{
        width:calc(100%*3/12);
    }
    .col-md-3{
        width:calc(100%*3/12);
    }
    .col-md-4{
        width:calc(100%*4/12);
    }
    .col-md-5{
        width:calc(100%*5/12);
    }
    .col-md-6{
        width:calc(100%*6/12);
    }
    .col-md-7{
        width:calc(100%*7/12);
    }
    .col-md-8{
        width:calc(100%*8/12);
    }
    .col-md-9{
        width:calc(100%*9/12);
    }
    .col-md-10{
        width:calc(100%*10/12);
    }
    .col-md-11{
        width:calc(100%*11/12);
    }
    .col-md-12{
        width:calc(100%*12/12);
    }

}


@media screen and (max-width: 768px) {
    .col-sm-1{
        width:calc(100%*1/12);
    }
    .col-sm-2{
        width:calc(100%*3/12);
    }
    .col-sm-3{
        width:calc(100%*3/12);
    }
    .col-sm-4{
        width:calc(100%*4/12);
    }
    .col-sm-5{
        width:calc(100%*5/12);
    }
    .col-sm-6{
        width:calc(100%*6/12);
    }
    .col-sm-7{
        width:calc(100%*7/12);
    }
    .col-sm-8{
        width:calc(100%*8/12);
    }
    .col-sm-9{
        width:calc(100%*9/12);
    }
    .col-sm-10{
        width:calc(100%*10/12);
    }
    .col-sm-11{
        width:calc(100%*11/12);
    }
    .col-sm-12{
        width:calc(100%*12/12);
    }
}



.wrapper {
    -webkit-box-shadow: 3px 0 0 1px rgba(0,0,0,0.47), inset 0 0 0 white;
    -moz-box-shadow: 3px 0 0 1px rgba(0,0,0,0.47), inset 0 0 0 white;
    box-shadow: 4px 10px 5px 5px rgba(0,0,0,0.2),-4px 10px 5px 5px rgba(0,0,0,0.2), inset 0 0 0 white;
    border-radius: 4px / 90%;
    border-radius: 4px / 90%;

    width:95%;
    height: auto;
    margin:0 auto;
    overflow:auto;
    background-color:#EEEEEE;
}

.main {
    width:100%;
    height: 800px;
    margin:0 auto;
    position: relative;
    top:80px;
    background-color:#FEF0FF;
}


#photo
{ 
    margin:0px auto;
    top:-50px;
    position: relative;
    float: left;
    width: 100%;
    text-align : center;


} 
#photo img
{
    width:100px; 
    height:100px; 
    border-radius:50%;
} 
.main_top{
    position: relative;
    top:-50px;
    text-align: center;
    line-height: 2px;
    height: 50px;
}

.hr1{
    position: relative;
    height:1px;border:none;border-top:2px solid #555555;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#slider {

    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
}

#slider .slides {
    display: block;
    width: 800px;
    height: 100px;

    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 100px;
    height: 100px;     
}

.main_context{
    float: left;
}
.main_bottom{
    height: 50px;
    float: left;
    padding: 0px 5px;
}

.context_block{
    margin: 5px 5px;
}

.context_title{
    color:#FF9757;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 700;
    padding-top: 5px;
}

/*時間軸*/
ul.timeline{
    list-style-type: none;
    background:url("../images/line.png") repeat-y scroll 10px 0px transparent;
    margin:20px 0;
    padding-top: 0px;
}

ul.timeline li
{
    position: relative;
    margin-bottom: 50px;
}


ul.timeline li .time{
    position: relative;
    width: 50px;
    background-color: #FEF0FF;
}

ul.timeline li .timecontext{
    text-align: left;
    font-size: 18px;
    left: 50px;
    position: absolute;
    top:0px;
    color:red;
    border-radius: 10px;
    padding: 0px 10px;
    background-color: #FDE9C9;
    margin-bottom: 10px;
    height: 60px;
    width:80%;


    /*
    position: absolute;
    width: 56px;
    height: 56px;
    left: 97px;
    line-height: 56px;
    text-align: center;

    font-size: 18px;
    */
}

ul.timeline li .timecontext>p{
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    font-weight: 600;
    padding-top: 5px;
    background-color: #FDE9C9;
}

ul.timeline li .timecontext> p:last-child{
    font-weight: 200;
    font-size: 14px;
    font-size: 13.5px;
}
.main_bottom>p{
    font-weight: 600;
}
.main_bottom p:last-child{
    font-weight: 400;
    font-size: 13.5px;
}

.timecontext >.arrow-left-out{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent #FDE9C9 transparent transparent;
    border-width: 10px;
    position: absolute;
    top: 10px;
    left: -19px;
}
.timecontext >.arrow-left-in{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent #FDE9C9 transparent transparent;
    border-width: 10px;
    position: absolute;
    top: 10px;
    left: -19px;
}
i{
    margin: 5px auto;
    color: chocolate;

}
i > span{
    margin-left: 10px;
    font-weight: 600;
}
i > p{
    margin-left: 25px;
    font-size: 12px;
}
.skillgraph{
    width: 80%;
    height: 20px;
    background-color: darkorange;
    margin: 5px 0;
    color: aliceblue;
    padding-left: 8px;
    border-radius: 4px;;
}
.HTML{
     width: 70%;
}
.CSS{
    width:65%;
}
.JQUERY{
     width:40%;   
}
.JAVASCRIPT{
    width: 45%;
}
.MVC{
    width: 60%;
}
.languages{
    width: 200px;
    height: 30px;
    border-bottom: 1.5px solid rgba(59, 53, 53, 0.47);   
    line-height: 30px;
}
.languages span:last-child{
    position:relative;
   float: right;
    
    color: red;
}
.languages span:first-child{
    color: black;
}

.heartbox{
    width: 80px;
    background-color:brown;
    border-radius: 7px;
    margin: 10px
}
.heart i{
    color: white;
    text-align: center;
    padding-left: 5px;
}